<section id="dashboard" class="container-fluid">
  <div class="row">
	<div class="col-xs-12">
      <div class="page-header text-center">
          <h1>Dashboard</h1>
      </div>
  	</div>
  </div>
  
  <div>
	  <div class="row dashboard-section-nav">
	  	<div class="col-xs-8 col-xs-offset-2">
		  <nav role="navigation">
			<ul class="menu">
			  <li><a ng-click="selectTab('blog')">See All Posts</a></li>
			  <li><a ng-click="selectTab('new')">Add New Post</a></li>
			</ul>
		  </nav> 
		</div>
	  </div>
		
      <div class="row">
		<div class="col-xs-8 col-xs-offset-2">
		  <!-- list of all posts -->
		  <div class="dashboard-view-grid" ng-show="isSelected('blog')">
			  <div class="list-lg">
				  <div class="list-lg-item" ng-repeat="item in blog">
					<div class="row">
						<div class="col-xs-7">
							<p>{{item.title}}</p>
							<p><small>{{item.body}}</small></p>
						</div>
						<div class="col-xs-2">
							<p><small>{{item.createdOn | date}}</small></p>
						</div>
						<div class="col-xs-1">
							<p><small><a href="" ng-click="selectTab($index)">View</a></small></p>
						</div>
						<div class="col-xs-1">
							<p><small><a href="">Edit</a></small></p>
						</div>
						<div class="col-xs-1">
							<p><small><a href="" ng-click="remove(item._id)">Delete</a></small></p>
						</div>
					</div>
				  </div>
			  </div>
		  </div>
		
		  <!-- standalone post -->
		  <div class="dashboard-view-post" ng-repeat="item in blog" ng-show="isSelected($index)">
			  <div>
				<h2>{{item.title}}</h2>
				<cite>on {{item.createdOn | date}}</cite>
				<p>{{item.body}}</p>
			</div>
		  </div>
	  
		  <!-- add new post -->
		  <div class="dashboard-add-post" ng-show="isSelected('new')">
			  <h3>Add New Post</h3>
			  <form name="postForm" ng-submit="addBlog()" novalidate>
  				<div class="row">	
					<div class="col-md-8">
						<h5>Title</h5>
						<input type="text" ng-model="blog.title"/>
				
						<h5>Body</h5>
						<textarea ng-model="blog.body" rows="10"></textarea>
					</div>		  
					<div class="col-md-4">
						<div class="panel panel-default">
						  <div class="panel-body">
							<h4>Publishing options</h4>
							<input type="submit" class="btn btn-default" value="Preview" disabled />
							<input type="submit" class="btn btn-default" value="Save Draft" disabled />
							<input type="submit" class="btn btn-primary" value="Submit" />
						  </div>
						</div>
					</div>
  				</div>	
			  </form>  
		  </div>     
		        
		</div>
	  </div>
  
	 <!-- not in controller right now -->
	  <div class="row original-model">
		<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
		  <div class="list-lg">
			  <div class="list-lg-item" ng-repeat="service in services">
			  	<div class="row">
		        	<div class="col-xs-10">
		        		<p>{{service.title}}</p>
		        	</div>
		        	<div class="col-xs-1">
		        		<p><small><a href="">View</a></small></p>
		        	</div>
		        	<div class="col-xs-1">
		        		<p><small><a href="">Edit</a></small></p>
		        	</div>
		        </div>
			  </div>
		  </div>
	  	</div>
	  </div>
	</div>
</section>

