<h3 class="text-center">Complete your registration</h3>
<div class="fields-lg">

	<div class="form-group col-xs-6 col-xs-offset-3">
		<label for="email">Username</label> 
		<input type="text" class="form-control" name="email" placeholder="Username" ng-model="training.username">
	</div>

	<div class="form-group col-xs-6 col-xs-offset-3">
		<label for="email">Password</label> 
		<input type="text" class="form-control" name="email" placeholder="Password" ng-model="training.password">
	</div>
</div>

<div class="form-group options row text-center">
<div class="col-xs-6 col-xs-offset-3">
    <button type="submit" class="btn btn-danger" ng-click="addAthlete()">Submit</button>
</div>
</div>