<h3 class="text-center">How do you want to train?</h3>
<div class="form-group radios-lg row">
    <div class="radio col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <label>
           <a ui-sref="training.session"><input type="radio" ng-model="training.type" value="private" checked></a>
           Private Training
        </label>
    </div>
    <div class="radio col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <label>
            <a ui-sref="training.session"><input type="radio" ng-model="training.type" value="soccer"></a>
            Soccer Training
        </label>
    </div>
    <div class="radio col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <label>
            <a ui-sref="training.session"><input type="radio" ng-model="training.type" value="speed"></a>
            Speed & Agility Training
        </label>
    </div>
    <div class="radio col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <label>
           <a ui-sref="training.session"><input type="radio" ng-model="training.type" value="fitness" checked></a>
           Adult Fitness Training
        </label>
    </div>
</div>
